<div class="landing-block">
  <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">
    <label for="userEmail">Inscrivez-vous pour recevoir notre newsletter</label>
    <input type="email" name="userEmail" id="userEmail" [(ngModel)]="userEmail" />
    <button type="submit">OK</button>
  </form>
  <img src="/assets/snapface-logo.png" alt="Snapface logo" />
  <div class="landing-links">
    <button (click)="onContinue()" routerLink="facesnaps">
      Continuer vers Snapface
    </button>
  </div>
</div>
